#shapeshed-twitter-reactions { 
  padding: 0 15px 15px 15px !important;
  display: block !important; 
  text-align: left !important;
  position: fixed !important; 
  top: 0px !important; 
  right: 20px !important; 
  background-color: #F6F6F6 !important; 
  -webkit-border-bottom-right-radius: 10px !important; 
  -webkit-border-bottom-left-radius: 10px !important; 
  font: normal 12px arial, verdana, sans-serif !important;  
  z-index: 99999 !important; 
  width: 460px !important;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5) !important;
  border-radius 10px !important;
  color: #333 !important;
  font-size: 12px !important;
}

#shapeshed-twitter-reactions ul 
  {
  position: relative !important
  list-style: none !important;
  margin: 0 0 15px 0 !important;
  padding: 0 !important;
  height: 300px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
#shapeshed-twitter-reactions ul li {
  width: 420px !important;
  margin: 0 !important;
  padding: 10px 10px 10px 0 !important;
  float: left !important;
  clear: left !important;
  line-height: 15pt !important;
  background: transparent url("portfolio_border_bottom.png") repeat-x left bottom !important;
}
#shapeshed-twitter-reactions ul li a
  {
  color: #0088cc !important;   
}
#shapeshed-twitter-reactions ul li a:hover
  {
  color: #0088cc !important;   
}

#shapeshed-twitter-reactions ul li span a
  {
  color: #0088cc !important;
  text-decoration: none !important;
  font-style: italic !important;
  float: right !important;
  text-shadow:0 1px 1px #FFFFFF !important;
}
#shapeshed-twitter-reactions ul li span a:hover
  {
  color: #0088cc !important;
  text-decoration: underline !important;
}

#shapeshed-twitter-reactions img {
  padding: 5px !important;
  margin: 0 10px 0 0 !important;
  background: #fff !important;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  -webkit-border-radius: 5px !important;
  float: left !important;
  width: 48px !important;
  height: 48px !important;
}
#shapeshed-twitter-reactions img#ajax-loader
  {
  -webkit-box-shadow: none !important;
  -webkit-border-radius: none !important;
  width: 36px !important;
  height: 36px !important;
}
